#p-intro{
    font-size: x-large;
    text-align: center;
}

h1 {
    font-family:fantasy;
    color: blue;
    text-align: center;
    }
#sverige1 {
    text-align: left;
}
#sverige2 {
    text-align: right;
}
#cont1 {
    background-color: yellow;
}


.circle {
    position: absolute;
    width: 30px; /* Diameter på sirklene */
    height: 60px;
    border-radius: 50%; /* Gjør det til en sirkel */
    background-color: red; /* Rød farge */
}