.grid_container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}

.grid-container > div {
    text-align: center;
}

#grensevakt {
    background-color: yellow;
}
#toll_knapp {
    background-color: red;
    color: white;
    margin: 4px 2px;
    padding: 15px 32px;
}
#solnedgang {
    background-color: green;
    color: white;
    margin: 4px 2px;
    padding: 15px 32px;
}