.homepage {
    text-align: center;
}

.homepage__title {
    font-size: 2rem;
    margin: 3rem auto 1rem;
}

.homepage__description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.game__container {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}
.game {
    border-radius: 1rem;
    background: #222222;
}
.game__start-button {
    position: absolute;
    width: 295px;
    right: 50px;
    top: 22px;
    color: black;
    font-size: 25px;
}
.game__restart-button {
    width: 295px;
    color: black;
    font-size: 25px;
}
.game__content {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    color: white;
    font-size: 2rem;
    transition: opacity 1s;
}
.game__finish-button {
    width: 295px;
    right: 50px;
    top: 28px;
    color: black;
    font-size: 25px;
    margin-bottom: 16px;
}
.game__score {
    color: green;
    font-size: 32px;
}
.game__toll {
    color: red;
    font-size: 32px;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}