.homepage {
    text-align: center;
}

.homepage__title {
    font-size: 2rem;
    margin: 3rem auto 1rem;
}

.homepage__description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.game__container {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}
.game {
    border-radius: 1rem;
    background: #222222;
}
.game__start-button {
    position: absolute;
    width: 295px;
    right: 50px;
    top: 28px;
    height: 53px;
    color: black;
    font-size: 25px;
}